{% extends 'basic.html' %}
{% block body %}

<style>
  svg{
    width: 20%;
  }

  @media only screen and (max-width: 1024px){
    svg{
      width:50%;
    }
  }

  #delete-client{
    margin-right:1em;
  }
</style>

<div class="fluid-container justify-content-end px-3 my-2" id="Search">
    <form class="d-flex flex-row" role="search">
      <div class="w-100 d-flex flex-row justify-content-center">
          <input class="form-control me-2 w-50" style="background-color:#74BDE0;" type="search" placeholder="Search" aria-label="Search"> 
          <button class="btn btn-outline-success text-light w-20" style="background-color: #12222e;" type="submit">Search</button>
        </div>
      </form>     
</div>

<div class="fluid-container mx-2">
  <div class="list-group" >
      <div href="#" class="list-group-item list-group-item-action" style="background-color:#3B7197;" data-aos="fade-right">
      <form method="POST">
      {% for client in all_clients %}
        <div class="d-flex flex-row align-items-center justify-content-between px-2 py-2 row" style="border:2px solid #12222e;border-radius:0.3em;">
          <div class="w-50 ">
              <div class="mb-1  text-light">{{client.client_name}}</div>
              <div class="mb-1  text-light">{{client.flat_no}} {{client.building_name}}</div>
          </div>

          <div class="w-50 text-center d-flex align-items-center justify-content-end flex-row" id="view-delete">
            <a href="/{{id}}/delete-client/{{client.id}}/"><button type="button" id="delete-client" class="btn btn-danger">Delete</button></a> 
            <a href="/{{id}}/client-{{client.id}}/"><button type="button" id="view-client" class="btn text-light" style="background-color:darkgreen;">View</button></a> 
          </div>
                
        </div>
      {% endfor %}
      </form>
  </div>
  </div>
</div>

<script>
  
      AOS.init();
  
</script>
{% endblock %}